<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidstudydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/http_set"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".EventBusDemo.EventBusMainActivity" />
        <activity android:name=".JsonDemo.JsonActivity" />
        <activity android:name=".ServiceDemo.BlendServiceActivity" />
        <activity android:name=".ServiceDemo.BindServiceActivity" />
        <activity android:name=".ServiceDemo.ServiceLifeActivity" />
        <activity android:name=".ServiceDemo.ServiceActivity" />
        <activity android:name=".VideoToBase64Demo.VideoToBase64Demo" />
        <activity android:name=".VolleyDemo.VolleyActivity" />
        <activity android:name=".ViewEvent.ViewEventActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".ServiceDemo.ServiceLife" />
        <service android:name=".ServiceDemo.BindService" />
        <service android:name=".ServiceDemo.BlendService" />
        <service android:name=".ServiceDemo.MyIntentService" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

</manifest>